@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>aa @Context.Session.GetString("Role")</div>
    @if (Context.Session.GetString("Role") != null)
    {
        <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    }
</div>
